html, body {
  height: 100%;
  background-color: #052564;
  font-family: 'Rajdhani', sans-serif;
  /*font-family: 'Germania One', cursive;*/
  /*font-family: 'Pangolin', cursive;*/
  /*font-family: 'Open Sans Condensed', sans-serif;*/
}

.App {
  margin: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-name {
  color: white;
  font-size: 0.8em;
}

.colors.sapphire {
  background-color: #052579;
}
.colors.lochmara {
  background-color: #2065A2;
}
.colors.turquoise {
  background-color: #1AE1EE;
}
.colors.rock-blue {
  background-color: #8E98AF;
}
.colors.bondi-blue {
  background-color: #0284BE;
}

.text-white {
  color: white;
}

.font-small {
  font-size: 0.8em;
}

.instructions-list {
    list-style: none;
}

.instructions-list > li {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.inputs-card {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.time-periods {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.time-periods > div {
  height: 64px;
}

.penalty-slider {
  margin-top: 24px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.send-to {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deposit-link {
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.grid-wrapper {
  display: grid;
  grid-gap: 32px;
}

.grid-amount {
  grid-column: 1;
  grid-row: 1;
}
.grid-period {
  grid-column: 2;
  grid-row: 1;
}
.grid-penalty {
  grid-column: 1 / 3;
  grid-row: 2;
}
.grid-go-btn {
  grid-column: 1 / 3;
  width: 100% !important;
  height: 64px !important;
}

/* Withdraws */
.withdraw-info-table td {
  padding: 16px;
}
.countdown-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
}

.text-large {
  font-size: xx-large;
}

.loading-text {
  text-align: center;
  padding: 32px;
}

.deadcenter {
  display: flex;
  justify-content: center;
  font-size: 3em;
}

.account-info-card {
  width: 70%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
