.arrows {
    position: relative;
    width: 20px;
    height: 20px;
    margin-bottom: 40px;
    /* center it */
    display: flex;
    justify-self: center;
    grid-column: 1/3;
}

.arrows:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 16px solid rgba(0, 240, 0, 0.7);
    border-bottom: 16px solid rgba(0, 240, 0, 0.7);
    transform: translate(16.66667px, 46.66667px) rotate(-45deg);
    animation: arrows 1.5s linear infinite;
}

.arrows:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 26px solid rgba(0, 0, 0, 0.7);
    border-bottom: 26px solid rgba(0, 0, 0, 0.7);
    transform: translate(53.33333px, 0px) rotate(-45deg);
    animation: arrows 1.5s linear infinite -0.75s;
}

@keyframes arrows {
    0% {
        border-left: 6px solid transparent;
        border-bottom: 6px solid transparent;
        transform: translate(-5px, -24px) rotate(-45deg);
    }
    10%, 90% {
        border-left: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
    50% {
        border-left: 6px solid rgba(0, 240, 0, 0.7);
        border-bottom: 6px solid rgba(0, 240, 0, 0.7);
        transform: translate(-5px, 0px) rotate(-45deg);
    }
    100% {
        border-left: 6px solid transparent;
        border-bottom: 6px solid transparent;
        transform: translate(-5px, 24px) rotate(-45deg);
    }
}
